@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Mohave:ital@1&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Young Serif", serif;
}

header .headerBoxShadow {
  box-shadow: -2px 8px 63px -10px rgba(207, 206, 144, 0.89);
}
header .headerBoxShadow div div ul li .linkactive {
  font-weight: bolder;
  border-bottom: 3px solid gold;
}

.footerBoxShadow {
  box-shadow: -2px 8px 63px 10px rgba(207, 206, 144, 0.89);
}
.footerBoxShadow .listaSize {
  font-size: 1rem;
}
.footerBoxShadow .listaSize .iconoSize {
  font-size: 1.25rem;
  animation-name: hinchar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.footerBoxShadow .listaSize li a {
  text-decoration: none;
  color: black;
}

@keyframes hinchar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translatY(0px);
    transform: scale(1.5);
  }
  100% {
    transform: translateY(0px);
  }
}
.mainIndex .sectionUno {
  background-image: url(../assets/img/fondoindex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  opacity: 0.9;
  box-shadow: -2px 8px 63px -10px rgba(207, 206, 144, 0.89);
}
.mainIndex .sectionUno .sectionUnoDivUno {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.mainIndex .sectionUno .sectionUnoDivUno .tituloPrincipal {
  filter: drop-shadow(1px 1px 2px white);
  font-size: 3rem;
}
.mainIndex .sectionUno .sectionUnoDivDos {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}
.mainIndex .sectionUno .sectionUnoDivDos p {
  filter: drop-shadow(1px 1px 2px white);
}
.mainIndex .sectionDos div .tituloSecundario {
  font-size: 3rem;
}
.mainIndex .sectionDos div .textoSecundario {
  font-size: 1rem;
}
.mainIndex .sectionTres div .tituloSecundario {
  font-size: 3rem;
}
.mainIndex .sectionTres div .textoSecundario {
  font-size: 1rem;
}
.mainIndex .textoNegrita {
  font-weight: bold;
}

@media screen and (min-width: 450px) {
  .mainIndex .sectionUno .sectionUnoDivUno .tituloPrincipal {
    font-size: 5rem;
  }
  .mainIndex .sectionUno .sectionUnoDivDos .textoPrincipal {
    font-size: 2rem;
  }
  .imagenCarrusel-md {
    width: 25% !important;
  }
}
@media screen and (min-width: 1024px) {
  .mainIndex .sectionUno .sectionUnoDivUno .tituloPrincipal {
    font-size: 4rem;
  }
  .mainIndex .sectionUno .sectionUnoDivDos .textoPrincipal {
    font-size: 1.5rem;
    margin: 0 auto;
    width: 75%;
  }
  .mainIndex .sectionDos .imagenCarrusel-md {
    width: 25% !important;
  }
  .mainIndex .sectionTres div .textoSecundario {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1920px) {
  .mainIndex .sectionUno .sectionUnoDivUno .tituloPrincipal {
    font-size: 6rem;
  }
  .mainIndex .sectionUno .sectionUnoDivDos .textoPrincipal {
    font-size: 2rem;
  }
  .mainIndex .sectionDos div .textoSecundario {
    font-size: 1.5rem;
  }
  .mainIndex .sectionDos .imagenCarrusel-md {
    width: 25% !important;
  }
  .mainIndex .sectionDos div div .descripcionProducto {
    font-size: 1.3rem;
  }
  .mainIndex .sectionTres div .textoSecundario {
    font-size: 1.5rem;
  }
  .mainIndex .sectionTres div .textoReceta {
    font-size: 1.2rem;
  }
}
.mainRecetas section .recetaFondo {
  background-image: linear-gradient(to right bottom, #95c1c8, #9fc4c2, #aac6be, #b6c7bd, #c0c9bf, #c7cdc5, #cdd2cb, #d3d6d1, #dadeda, #e1e6e3, #e8eeec, #f0f6f5);
  border-radius: 1%;
}
.mainRecetas section .recetaFondo .ingredientes {
  list-style: none;
}
.mainRecetas section .recetaFondo .youtubeVideo iframe {
  border-radius: 10%;
}

@media screen and (min-width: 1920px) {
  .mainRecetas section .recetaFondo .youtubeVideo {
    height: 400px;
  }
}
.cardPropia {
  background-image: linear-gradient(to right bottom, #95c1c8, #9fc4c2, #aac6be, #b6c7bd, #c0c9bf, #c7cdc5, #cdd2cb, #d3d6d1, #dadeda, #e1e6e3, #e8eeec, #f0f6f5);
  border-radius: 10%;
}
.cardPropia img {
  object-fit: none;
}

@media screen and (min-width: 1024px) {
  .imagenGaleria:hover {
    transform: scale(1.2);
  }
}
.botonLimpiar {
  background-color: #ff3737;
}

.botonEnviar {
  background-color: rgba(69, 218, 69, 0.753);
}

.filterImg {
  filter: drop-shadow(2px 4px 6px black);
  border-radius: 10%;
}

.textoNegrita {
  font-weight: bold;
}

@media screen and (min-width: 1920px) {
  .textoHistoria {
    font-size: 1.1rem;
  }
}
.flexible {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*# sourceMappingURL=estilos.css.map */
