@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap'); 
/* Reseteo de valores */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif
}

/* Estilos globales */

/* Estilos Header */

.headerBoxShadow{
    box-shadow: -2px 8px 63px -10px rgba(207,206,144,0.89);
}

.active{
    font-weight: bolder;
    border-bottom: 3px solid gold;    
}

/* Fin estilos Header */

/* Estilos Footer */

.bg-footer{
    background-color: #f8f9fa;
}

.footerBoxShadow{
    box-shadow: -2px 8px 63px 10px rgba(207,206,144,0.89);
}

.listaSize{
    font-size: 0.75rem;
}

.iconoSize{
    font-size: 1.25rem;
}

/* Fin estilos Footer */

/* Fin estilos globales */


/* Estilos main INDEX */
/* .main{
    background-color: whitesmoke;
    .sectionUno{
        >h1{
            height: 95vh;
            font-size: 5rem;
        }
    }
    .sectionDos{
        >h2{
            font-size: 3.5rem;
            font-weight: bolder;
        }
        >a img{
            box-shadow: -2px 8px 25px -10px rgba(0, 0, 0, 0.89);
        }  
    }
    .sectionTres{
        >h2{
            font-size: 3.5rem;
            font-weight: bolder;
        }
        >h3{
            font-size: 3rem;
        }
        >article div h2{
            font-size: 1.5rem;                                   
        }
        >article div ul{
            column-count: 2;
            text-align: initial;
            line-height: 2rem;
        }
    }
    .sectionCuatro{
        >h2{
            font-size: 3.5rem;
            font-weight: bolder;
        }
        >form div{
            >[type="reset"]{
                background-color: rgba(150, 14, 14, 0.687);
            }
            >[type="submit"]{
                background-color: rgba(31, 235, 59, 0.744);
            }  
        } 
    }
}

/* Fin estilos main INDEX */

/* Fin estilos Index */

/* Inicio estilos Productos */

/* .h1_Productos{
    font-size: 4rem;
}

.carruselVisible{
    display: none;
}

/* Fin estilos Productos */

/* Inicio estilos Contacto */

/* .contactoBotonLimpiar{
    background-color: rgba(212, 53, 53, 0.509);
}

.contactoBotonEnviar{
    background-color: rgba(31, 235, 59, 0.744);
}  

/* Fin estilos Contacto */

/* @media (min-width: 768px){
    .main{
        .sectionTres{
            >article div ul{
                column-count: 1;
                text-align: justify;
            }
        } */
    /* } 
        
}  */

/* @media (min-width: 1200px) {
    .main{
        .sectionUno{
            >h1{
                height: 50vh;
            }
        }
        .sectionDos{
            >a{
                gap: 3rem !important;
                >img{
                    box-shadow: initial;
                    border: 3px solid rgba(181, 160, 40, 0.619) !important;
                }
    
            }
        }
    } */
    /* .sectionProductosVisible{
        display: none;
    }
    .carruselVisible{
        display: flex;
        height: 70vh;
    }
    .historiaTitulo .contactoTitulo .recetasTitulo{
        font-size: 5rem;
    }
} */
