header{
    .headerBoxShadow{
        box-shadow: -2px 8px 63px -10px rgba(207,206,144,0.89);
        div{
            div{
                ul{
                    li{
                        .linkactive{
                            font-weight: bolder;
                            border-bottom: 3px solid gold;  
                        }
                    }
                }
            }
        }
    }
}