.filterImg{
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 10%;
}

.textoNegrita{
    font-weight: bold;
}

@media screen and (min-width: 1920px){
    .textoHistoria{
        font-size: 1.1rem;
    }
}