.mainIndex{
    .sectionUno{
        background-image: url(../assets/img/fondoindex.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        opacity: 0.9;
        box-shadow: -2px 8px 63px -10px rgba(207,206,144,0.89);
        .sectionUnoDivUno{
            color: rgb(0, 0, 0);
            font-weight: bolder;
            .tituloPrincipal{
                filter: drop-shadow(1px 1px 2px white);
                font-size: map-get($mapa-sizes,fuente-titulo);
            }
        }
        .sectionUnoDivDos{
            color: rgb(0, 0, 0);
            font-weight: bolder;
            p{
                filter: drop-shadow(1px 1px 2px white);
            }
        }
    }
    .sectionDos{
        div{
            .tituloSecundario{
                font-size: map-get($mapa-sizes,fuente-titulo);
            }
            .textoSecundario{
                font-size: map-get($mapa-sizes,fuente-texto);
            }
        }
    }
    .sectionTres{
        div{
            .tituloSecundario{
                font-size: map-get($mapa-sizes,fuente-titulo);
            }
            .textoSecundario{
                font-size: map-get($mapa-sizes,fuente-texto);
            }
        }
    }
}


@media screen and (min-width: 450px){
    .mainIndex{
        .sectionUno{
            .sectionUnoDivUno{
                .tituloPrincipal{
                    font-size: 5rem;
                }
            }
            .sectionUnoDivDos{
                .textoPrincipal{
                    font-size: 2rem;
                }
            }
        }
    }
    .imagenCarrusel-md{
        width: 25% !important;     
    }
}

@media screen and (min-width: 1024px){
    .mainIndex{
        .sectionUno{
            .sectionUnoDivUno{
                .tituloPrincipal{
                    font-size: 4rem;
                }
            }
            .sectionUnoDivDos{
                .textoPrincipal{
                    font-size: 1.5rem;
                    margin: 0 auto  ;
                    width: 75%;
                }
            }
        }
        .sectionDos{
            .imagenCarrusel-md{
                width: 25% !important;     
            }            
        }
        .sectionTres{
            div{
                .textoSecundario{
                    font-size: 1.25rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1920px){
    .mainIndex{
        .sectionUno{
            .sectionUnoDivUno{
                .tituloPrincipal{
                    font-size: 6rem;
                }
            }
            .sectionUnoDivDos{
                .textoPrincipal{
                    font-size: 2rem;
                }
            }
        }
        .sectionDos{
            .imagenCarrusel-md{
                width: 25% !important;     
            }
            div{
                div{
                    .descripcionProducto{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .sectionTres{
            div{
                .textoSecundario{
                    font-size: 1.5rem;
                }
            }
        }
    }
}


